.drink{
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #e2bc76;
    border-radius: 1em;
    padding: 2em;
    gap: 0.5em;
    color: #e2bc76;
    font-family: Baskerville, serif;
    font-size: larger;
}

h2 {
    color: #e2bc76;
    font-family: Baskerville, serif;
    font-size: larger;
}

button{
    background: rgba(0,0,0,0);

}

.drink:hover{
    box-shadow: inset 0 0 16px 9px #e2bc76;
    border: 2px solid #e2bc76;
}

.drinkpic{
    width: 7em;
}

.drinkname{
    font-size: smaller;
    margin: 0 auto;
}

.shadow {
    z-index: 200;
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: linear-gradient(0deg,#080808,#0b0e0c);
    border-radius: 2em;
}

.shadow:before, .shadow:after {
    content:'';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#48c158,#0eeae0,#0e5cea,#810eea,#ea0e74,#810eea,#0e5cea,#0eeae0,#48c158);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 30s linear infinite;
    border-radius: 2em;
}

.shadow:after {
    filter: blur(15px);
}

@keyframes animate {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 100%;
    }
}
